@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Roboto:wght@100;300;400&display=swap');

{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

body{
	background-color: white;
	overflow-x: hidden;
}

nav{
	background-color:#12294b;
}

	nav ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	}

		nav ul li{
		font-size: 1.5rem;
		display: inline-block;
		}

			nav ul li a{
				text-decoration: none;
				color: #EEECE5;
				font-weight: 400;
			}
 
nav ul li a:hover{
	font-weight: 500;
	color: lightgrey;
}


header{
	background-color:  white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header img{
	width: 150px;
}

/* esto sería lo que pasaría en mi CSS si me funcionara SASS con el extend*/

.btn-header{
	margin: 1rem;
	padding: 0.4rem;
	background-color: rgb(53, 93, 47);
	color: white;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}

.btn-header:hover{
	cursor: pointer;
	background-color: rgb(152, 36,36);
}

.btn-contacto{
	margin: 1rem;
	padding: 0.4rem;
	background-color: black;
	color: white;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}

.btn-contacto:hover{
	cursor: pointer;
	background-color: lightgrey;
	color: grey;
}


/*Cierra ejemplo de lo que pasaría con mi CSS si me funcionara SASS*/

h1{
	font-size: 3rem;
	text-align: center;
	background-color: rgb(152, 36,36);
	color: white;
	margin:2rem 1rem 1rem 1rem
}

h3{
	font-size: 2rem;
	font-weight: 400;
	color: white;
	text-align: center;
	margin-top:0;
	margin-bottom: 0;
	margin-left: 4.7rem;
	margin-right: 4.7rem;
}

/* Ejemplo de  map*/

.bg-green{
	background-color: rgb(79, 128, 64);
}

/* Cierra ejemplo de clase hecha con map*/

p{
	padding: 1rem
}

section article{
	background-color: white;
	margin: 0.1rem;
	display: inline-block;
	position: center;
}

section article p{
	background-color: white;
	font-size: 1.5rem;
	font-weight: 400;
	padding: 1rem;
	display: inline-block;
}

section article img{
	width: 70%;
	position: center;
	margin: 1rem
}

div img{
	width: 70%;
	position: center;
	margin: 1rem;
}

main section{
	width: 90%;
	position: center;
}
	main section article{
		widht:30%;
	}
		main section article img{
		width: 80%;
		display: inline-flex;
		}

aside{
	position: center;
}

aside img{
	background-color: rgb(79, 128, 64);
	margin: 0.1rem;
	position: center;
}


aside section article a{
	text-decoration: none;
	color: #EEECE5;
	font-weight: 400
}

button a{
	text-decoration: none;
	color: white;
}

footer{
	background-color: rgb(53, 93, 47);
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
}

.footerRedes{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
		
footer p{
	color: white
}

article h3 a{
	text-decoration: none;
	color: #fff;
}



figcaption{
	margin: 2rem;
}

.botonera{
	background-color: #12294b;
	position:sticky;
	top: 0;
	padding: 0,5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.textCenter{
	text-align: center;
}

.textRight{
	text-align: right;
}


.fontSize{
	font-size: 2rem;
}

.textBold{
	font-weight: 700;
}

.textSuperBold{
	font-weight: 800;
}

.photoSize{
	width: 50%;
	position: center;
	margin: 1rem;
}

.imagenHeroe{
	align-items: center;
	width: 100%;
	margin: 0px;
}

.buscador{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.fotoIndex{
	text-align: center;
	width: 100%;
	margin: 0px;
}

.parrafo{
	font-size: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 0px;
}

.imagenError{
	width: 30rem;
}

/*Flex*/

.container{
	padding: 1rem;
	border: solid 1rem white;
	background-color: white;
}

.W-20{
	width: 20%
}

.W-30{
	width: 30%
}

.W-40{
	width: 40%
}

.W-70{
	width: 70%
}

.flexWrap{
	flex-wrap: wrap;
}

.inlineFlex{
 display: inline-flex;
}

.justifyContent{
	justify-content: space-between;
}

/*Grids*/

nav{
	grid-area: nav;
}

header{
	grid-area: header;
}

.imagenHeroe{
	grid-area: heroe;
}

.container{
	grid-area: main;
}

footer{
	grid-area: footer;
}


/*Móvil 1 columna 5 filas*/

.contenedorIndex{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas: "nav" "header" "heroe" "main" "footer";
}

/*Tablet*/

@media (min-width: 768px){
	.contenedorIndex{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto auto;
		grid-template-areas: "nav" "header" "heroe" "main" "footer";
	}
	.container{
		display: flex;
		flex-direction: row;
	}
}

/*Desktop*/
@media (min-width: 1024px){
	.contenedorIndex{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto auto;
		grid-template-areas: "nav" "header" "heroe" "main" "footer";
	}
	.container{
		display: flex;
		flex-direction: row;
	}
	nav ul{
		flex-direction: row;
		justify-content: space-around; 
	}
	nav ul li{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin top: 0;
		margin-bottom: 0;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.scale:hover{
	transform: scale(1.05);
	cursor: pointer;
	transition: transform 0.5s;
	}
}
