// fuentes

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Roboto:wght@100;300;400&display=swap');

$fontMain: 'Roboto', sans-serif;
$fontSecondary: 'Patrick Hand', cursive;

//tamaños

$textXL: 3rem;
$textS: 2rem;
$textXS: 1.5rem;