// nesting

nav{
	background-color: $mainColor;
	ul{
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		li{
			font-size: $textXS;
			display: inline-block;
			a{
				text-decoration: none;
				color: $keyColor;
				font-weight: 400;
			}
		}
	}
}